#logo{
	display:block;
	margin:auto;
	width:80px;
}

#vidlist li{
	cursor:pointer;
}

#vidlist img{
	margin:8px;
	padding:3px;
	border:1px solid #ccc;
}

#vidlist h3{
	margin-left: 10px;
}

#showVideo{
	width:100%;
	margin: 15px 0 15px 0;
}